*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.co{
    border: solid 2px #111;
    width: 500px;
    font-size: 30px;
    padding: auto;
    padding-left: 10px;
    margin: auto;
    margin-top: 250px;
}
.container ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 26px;
    background-color: rgb(228, 231, 234);
    width: 410px;
}
.container ul li{
    margin-left: 2px;
    padding: 0 8px 0 8px;
}
.con{
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px ;
    grid-column-gap: 38px;
    grid-row-gap: 12px;
    margin-left: 28px;
}
h1{
 margin-bottom: 20px;
 margin-left: 35px;
}
#text{
    width: 300px;
    font-size: 20px;
    text-align: center;
    color: gray;
    font-weight: bold;
    border: 1px solid gray;
    margin-left: 100px;
}
.txt, #animat {
    width: 300px;
    height: 50px;
    padding: 3px;
    font-size: 40px;
    font-weight: 800;
    color: grey;
    text-align: center ;
}
 #animat {
    background-color: rgb(26, 139, 26);
    animation: change 3s linear infinite ;
}
#text > #animat::before {
    color: white;
    content: "LIFESTYLE";
    animation: change 3s linear infinite ;
}
@keyframes change {
       0% {
        background-color: green;
        content: "LIFESTYLE";
       }
       50% {
        background-color:blue;
        content: "WORK";
       }
       100% {
        background-color: red;
        content: "EVERYTHING";
       }
    
}
